.toolbar {
    width: 85%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
}
.link {
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}
.login {
    border-radius: 25px;
    color: hsl(0, 0%, 75%);
}
.SignUp {
    background-color:  hsl(180, 66%, 49%);
    border-radius: 25px;
    color: white;
}