.footer-container{
    background-color: #000;
    height: max-content;
    padding-left: 10px;
    padding-right: 10px;
}
.footer {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 85%;
}
.white {
    color: #fff;
}
.Gray {
    color: hsl(0, 0%, 75%);
}
.zeroMargin {
    margin-top: 0;
}