@media (max-width: 960px) {
    #starter-header {
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }

    .Starter-Text-Div p{
        text-align: center;
    }
    .get-started-div p svg{
        width: 100%;
    }
    .get-started-div img{
        width: 100%;
        height: max-content;
    }
}

@media (max-width: 599px) {
    .output a {
        text-align: center;
    }
    .output hr {
        /* transform:rotate(90deg);
        -ms-transform:rotate(90deg); */
        /* IE 9 */
        /* -webkit-transform:rotate(90deg); */
        /* Safari and Chrome */
        width: 90%;
    }
    .Svg {
        background-color: hsl(257, 27%, 26%);
        border-radius: 55%;
        z-index: 1000;
        position: relative;
        top: -50px;
        margin: auto;
        width: 75px;
        height: 75px;
        justify-content: center;
        text-align: center;
    }
    .detailed-records {
        margin-top: 23px;
    }
    .fully-cusomizable {
        margin-top: 23px;
    }
    /* .get-started-div img{
        display: flex;
        float: left;
        position: relative;
        right: -30%;
        width: 100%;
        height: max-content;
    } */
}
@media (min-width: 599px) {
    .fully-cusomizable {
        margin-top: 63px;
    }
    .detailed-records {
        margin-top: 30px;
    }
}
.Get-Started {
    background-color:  hsl(180, 66%, 49%);
    border-radius: 25px;
    color: white;
}
.Starter-Text-Div {
    max-width: 350px;
    margin-right: auto;
}
#starter-header {
    font-size: 50px;
    font-weight: 900;
}
.get-started-div {
    padding-bottom: 100px;
    width: 92%;
    margin-left: auto;
}
.get-started-div img{
    display: flex;
    float: left;
    position: relative;
    /* right: -100px; */
    /* z-index: -1; */
    width: 100%;
    height: max-content;
}
.input-container {
    background: url(src\assets\images\bg-shorten-desktop.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    border-radius: 6px;
    z-index: 1000;
    padding: 15px;
    height: 125px;
    width: 85%;
    margin: auto;
    position: relative;
    top: -50px;
    border-color: hsl(0, 0%, 59%);
    border-width: 5px;
}
#shorten-input {
    height: 20px;
    border-radius: 6px;
    width: 80%;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.shorten-button {
    color: #fff;
    background-color: hsl(180, 66%, 49%);
}
#shorten-button {
    color: #fff;
    background-color: hsl(180, 66%, 49%);
}
#shorten-button-Data {
    color: #fff;
    background-color: hsl(180, 66%, 49%);
}
.output {
    background-color: #fff;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 6px;
}
.output a {
    text-decoration: none;
    color: #000;
}
#spinner {
    color: #fff;
    margin: auto;
    position: relative;
    max-width: 150px;
    margin: auto;
}
#advanced-statistics-Section {
    background-color: hsl(0, 0%, 90%);
    padding-bottom: 70px;
    margin: 0;
}
.Advanced-Sattistics-text-div {
    padding-top: 20px;
}
.Advanced-Sattistics-text-div h2 {
    font-size: 32px;
    margin: 0;
}
/* .Advanced-Sattistics-text-div p {
    max-width: 50px;
} */
.Gray {
    color: hsl(0, 0%, 60%);
}
.center {
    text-align: center;
    justify-content: center;
}
.cards {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.brand-recoginition{
    height: fit-content;
    width: 70%;
}
.detailed-records {
    height: fit-content;
    width: 70%;
}
.fully-cusomizable {
    height: fit-content;
    width: 70%;
}
.card img{
    background-color: hsl(257, 27%, 26%);
    border-radius: 55%;
    z-index: 1000;
    position: relative;
    top: -50px;
    right: -28%;
    width: 75px;
    height: 75px;
    justify-content: center;
    text-align: center;

}
.Svg {
    background-color: hsl(257, 27%, 26%);
    border-radius: 55%;
    z-index: 1000;
    position: relative;
    top: -50px;
    width: 75px;
    height: 75px;
    justify-content: center;
    text-align: center;
}
.Svg svg {
    padding-top: 16px;
    text-align: center;
    justify-self: center;
    
}
.card-text{
    position: relative;
    top: -30px;
}
.space {
    background-color: hsl(180, 66%, 49%);
    height: 7px;
    width: 40px;
    margin-top: 130px;
}
.vl {
    border-left: 6px solid hsl(180, 66%, 49%);
    height: 50px;
  }
.Boost-Section {
    background: url(src\assets\images\bg-boost-desktop.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    height: 200px;
}
.Boost-Section h2 {
    margin: 0;
    color: #fff;
    font-size: 30px;
}